.main {
    background-color: #F3F3F3;
}

.main__header {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1;
}

.main__menus {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.main__menus > a {
    color: inherit;
    text-decoration: none;
}

.main__headerContact {
    border-radius: 50px;
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__menu {
    font-size: 15px;
}

.main__starting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 200px;
    padding-bottom: 100px;
}

.main__startingSlogan {
    font-size: 60px;
}

.main__startingExplanation {
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}

.main__waitlistButton {
    padding: 20px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.main__waitlistButton:hover {
    cursor: pointer;
}

.main__waitlistButton > p {
    font-size: 20px;
}

.main__waitlistBackground {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
}

.main__waitlistBackground--show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__waitlistBackground--hide {
    display: none;
}

.main__features {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.main__feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    gap: 20px;
}

.main__feature > img {
    width: 75px;
    height: 75px;
}

.main__feature > p {
    text-align: center;
}

.main__featureTitle {
    font-size: 25px;
}

.main__featureDescription {
    font-size: 15px;
    line-height: 20px;
}

.main__body1 {
    height: 400vh;
    position: static;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
}

.main__body1Text {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    position: sticky;
    top: 0;
}

.main__body1TextTitle {
    font-size: 50px;
    line-height: 60px;
}

.main__body1TextSteps {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main__body1TextStep {
    font-size: 20px;
}

.main__body1ContentBox {
    width: 750px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.main__body1Content {
    position: absolute;
    width: 100%;
    border-radius: 20px;
    padding: 30px;
}

.main__body1Content > video {
    margin-top: 30px;
    border-radius: 10px;
}

.main__body1Content1 {
    top: 150px;
}

.main__body1Content2 {
    top: 230px;
}

.main__body1Content3 {
    top: 310px;
}

.main__body1Content4 {
    top: 390px;
}

.main__body1ContentTitle {
    font-size: 20px;
}

.main__partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding-top: 200px;
    padding-bottom: 100px;
}

.main__partnersTitle {
    font-size: 60px;
}

.main__partnerLogos {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.main__partnerLogo {
    height: 40px;
}

.main__contact {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.main__contactHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.main__contactTitle {
    font-size: 60px;
}

.main__contactSubtitle {
    font-size: 15px;
}

.main__contactInputs {
    display: flex;
    flex-direction: column;
    width: 700px;
    gap: 30px;
}

.main__contactInputs > input, .main__contactInputs > textarea {
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 10px;
}

.main__contactInputs > textarea {
    height: 100px;
}

.main__footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}